@charset "UTF-8";
/* CSS Document */

/* Font */

body {
	font-family: |FONTFAMILY1| /* FONTFAMILY1*/;
	font-size:|FONTSIZE1| /* FONTSIZE1 */;	
}

@font-face {
	font-family: |FONTFAMILY1| /* FONTFAMILY1*/;
	src: (e/bootstrap/fonts|FONTSOURCE1|.otf) /* FONTSOURCE1 */;
	src: (e/bootstrap/fonts|FONTSOURCE1|.woff2) format('woff2') /* FONTSOURCE1 */,
         (e/bootstrap/fonts|FONTSOURCE1|.woff) format('woff') /* FONTSOURCE1 */,
         (e/bootstrap/fonts|FONTSOURCE1|.ttf) format('truetype') /* FONTSOURCE1 */;
}

@font-face {
    font-family: 'Gotham';
    src: url('gotham-book.eot');
    src: url('gotham-book.eot') format('embedded-opentype'),
         url('gotham-book.woff2') format('woff2'),
         url('gotham-book.woff') format('woff'),
         url('gotham-book.ttf') format('truetype'),
         url('gotham-medium.svg#Gotham') format('svg') ;
}


@font-face {
	font-family: |FONTFAMILY2|;
	src: (e/bootstrap/fonts|FONTSOURCE2|.otf) /* FONTSOURCE2 */;
	src: (e/bootstrap/fonts|FONTSOURCE2|.woff2) format('woff2') /* FONTSOURCE2 */,
         (e/bootstrap/fonts|FONTSOURCE2|.woff) format('woff') /* FONTSOURCE2 */,
         (e/bootstrap/fonts|FONTSOURCE2|.ttf) format('truetype') /* FONTSOURCE2 */,;
	font-weight:bold;	
}

@font-face {
    font-family: 'GothamMedium';
    src: url('gotham-medium.eot');
    src: url('gotham-medium.eot') format('embedded-opentype'),
         url('gotham-medium.woff2') format('woff2'),
         url('gotham-medium.woff') format('woff'),
         url('gotham-medium.ttf') format('truetype'),
         url('gotham-medium.svg#GothamMedium') format('svg');
}

h1 {
	font-size:|FONTSIZE2| /*FONTSIZE2*/;	
}

* a, a:hover {
	color:|COLOR1| /* COLOR1 */;
}

/* Buttons */

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color:|COLOR1| /* COLOR1 */;		
	border-color:|COLOR1| /* COLOR1 */;
}

.navbar-nav > li > a {
	text-transform:uppercase /* FONTCASE1 */;
	color:|COLOR1| /* COLOR1 */;
	font-weight:|FONTWEIGHT1| /* FONTWEIGHT1 */;	
	font-size:1em /*FONTSIZE3*/;	
}

/* Input Fields */

input.form-control, #srch-zip {
	background-color:|COLOR3| /* COLOR3 */;
	border-color:|COLOR3| /* COLOR3 */;
}


/* Panels */


#side_nav, #featured, #top_retailers {
	border: |BORDERWIDTH1|  /* BORDERWIDTH1 */;	}

.panel-default>.panel-heading {
	padding-left:|INDENT| /* INDENT */;	
	background-color:|COLOR5| /* COLOR5 */;
	font-weight:|FONTWEIGHT2| /* FONTWEIGHT2 */;
	border-color:|COLOR4| /* COLOR4 */;
}
#offer_table thead>tr>th, .panel-default>.panel-heading {
	border-width:|BORDERWIDTH2| /* BORDERWIDTH2 */;	
}

/* Left Nav */

#side_nav .panel-body .nav>li>a {
	
}

#side_nav .panel-body {
	padding-left:|INDENT| /* INDENT */;	}

/* Activate Offers */

button.activated {
	border-color:|COLOR1| /* COLOR1 */;
	color:|COLOR1| /* COLOR1 */;
}

/* Radio Buttons */

input.css-checkbox[type="radio"]:checked + label.css-label {
	background-color:|COLOR1| /* COLOR1 */;	
}

label.css-label {
	border-color:|COLOR1| /* COLOR1 */;		
}

/* Dropdown Default BG */

.selectboxit-btn {
	background-color:|COLOR1| /* COLOR1 */;	
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
	background-color:|COLOR1| /* COLOR1 */;	
}

/* Dropdowns White BG */

.selectboxit-container .selectboxit.white {
	color:|COLOR1| /* COLOR1 */;
}

.selectboxit-btn.white {
	border-color:|COLOR1| /* COLOR1 */;	
}

.white .selectboxit-default-arrow {
	border-top:8px solid |COLOR1| /* COLOR1 */;	
}


/* View All Retailers */

ul.retailers_list li a  {
	color:|COLOR4| /* COLOR2 */;
	font-weight:|FONTWEIGHT2| /* FONTWEIGHT2 */;	
}

/* Offer Tables */

#offer_table thead>tr>th {
	border-color:|COLOR4| /* COLOR4 */;	
	border-width:|BORDERWIDTH2| /* BORDERWIDTH2 */;
}

#offer_table thead th a {
	color:|COLOR1| /* COLOR1 */;	
}

#offer_table td a, #offer_table th a {
	color:|COLOR4| /* COLOR2 */;
	font-weight:|FONTWEIGHT2| /* FONTWEIGHT2 */;	
}

#offer_table tr td.currency p a span.glyphicon {
	display:|OFFERARROW| /* OFFERARROW */;	
}

#offer_pagination a.showmore {
	background-color:|COLOR1| /* COLOR1 */;	
}

#offer_pagination .small a {
	color:|COLOR4| /* COLOR4 */;	
}

/* Footer */

footer {
	background:|COLOR6| /* COLOR6 */;
}

footer ul li a {
	color:|COLOR5|/* COLOR5 */;	
}

footer ul li.divider {
	color:|COLOR1| /* COLOR1 */;
}
